server.crt
server.key
client.crt
client.key
ca.crt
/demoCA/
/client/
/test/
*.o
ffbackup-server
/run_client.sh
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CMakeLists.txt.user
ffbackup-server.cbp
